a {
    cursor: pointer;
}

body {
    font-size: 12px !important;
    background-color: #e9ecef;
}

.mat-form-field {
    width: 100% !important;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: none !important;
}

button.btn.btn-link{

    display:none;
}

.top-links {
    font-size: 13px;
    color: #fff !important;
    padding: 0px 5px !important;
    border-left: 2px solid gold !important;
    margin-bottom:10px !important;
}

.form-control {
    height: auto !important;
    padding: 0px !important;
}
button.btn.btn-outline-primary {
    padding: 0px 5px 0px 5px !important;
}

.mat-form-field-infix {
    width: 100% !important;
}

.circular {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
}

.circular-small {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
}


#container {
    width: 100px;
    height: 100px;
    position: relative;
}

#navi,
#infoi {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999999;
}

#infoi {
    z-index: 10;
}

.card-header {
    text-align: center;
}

.form-control.is-invalid, .was-validated .form-control:invalid {
    background-image: none !important;
}

.cursor-p {
    cursor: pointer;
}

.navi-sty {
    height: 100px;
    width: 100px;
    opacity: 0;
    cursor: pointer;
    z-index: -10;
}

.card-header-sty {
    text-align: right;
    height: 0px;
    padding: 0px;
    padding-top: 8px;
}

.text-aln-right {
    text-align: right;
}

.card-body-aln {
    text-align: center;
    min-height: 80px;
    padding: 0px
}

.progressBar {
    width: 100%;
}

.font-black {
    color: #000;
}

.date-show-sty {
    text-align: left;
    font-size: 13px;
    background-color: #F2F3F4;
    margin-bottom: 0px;
    color: #BDC3C7;
    padding: 0px
}
.date-for-sty {
    padding: 15px;
    border-left: 5px solid #BDC3C7;
    text-transform: uppercase;
    font-size: 12px
}
.date-itm-sty {
    text-align: left;
    font-size: 13px;
    background-color: #FFF;
    margin-bottom: 0px;
    border-top: 2px solid #F0F0F0;
    color: gray;
    padding: 15px;
    border-left: 5px solid #1ABC9C;
}
.fs-12 {
    font-size: 12px;
}
.pt-8 {
    padding-top: 8px;
}
.fs-10 {
    font-size: 10px;
}
.ta-left {
    text-align: left;
}
.ta-right {
    text-align: right;
}
.img-time {
    width: 14px;
    padding-right: 3px;
}
.img-location {
    width: 14px;
    padding-right: 3px
}
.a-evn-edt {
    color: darkred !important;
    border-left: 0px !important;
}
.a-evn-dlt {
    color: darkred !important;
    border-left: 0px !important;
}
.act-icon-w {
    width: 10px;
}
.ta-pt-card {
    text-align: right;
    height: 0px;
    padding: 0px;
    padding-top: 8px;
}
.pad-0 {
    padding: 0px;
}
.mh-25 {
    min-height: 25px;
}
.w100-p20 {
    width: 100%;
    padding: 20px;
}

.pt20-pb-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.pt20 {
    padding-top: 20px;
}
.w100 {
    width: 100%;
}

.mh-280 {
    text-align: center;
    background-color: #4FD2C0;
    color: #fff;
    min-height: 280px;
}
.fc-w {
    color: #fff;
}
.fs-18 {
    font-size: 18px;
}

.mt30 {
    margin-top: 30px;
}